#motherboard-container{
    background-image:    url("./asset/motherboard.png");
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     contain;
}

.valid-zone{
    border: 3px dashed rgb(98, 141, 97) !important;
    background-color:rgba(158, 229, 86, 0.219) !important;
}

.selected{
    opacity:0.5;
    background: blue;
}

.hotspot{
    background: rgba(250, 61, 61, 0.801);
    border: 3px dashed rgb(255, 251, 7);
}